<!DOCTYPE html>
<html>
<head>
  <title>Quiz Result</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Quiz Result</h1>
    <p>You scored <%= score %> out of <%= questions.length %>.</p>
    <ul>
      <% questions.forEach((question, index) => { %>
        <li>
          <%= question.question %>: <%= questions[index].options[questions[index].correct] %>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>

